

section{
    width: 700px;
    
        display: flex; /* or inline-flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      
}

#mySvg {
width: 100px;
height: 100px;
}

#hoverBox {
    width: 400px;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease;
    transition-timing-function: linear;
    transition-duration: 0.5s, 1s, 2s;
    transition-property: background-color, width, border-radius;
    transition-delay: 0s, 0.5s;
}

#hoverBox:hover {
    width: 500px;
    background-color: rgb( 200, 0, 0);
    border-radius: 20px;
}

.fadeInBox {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#boxIn {
    text-align: center;
    animation: animateIn ease 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.pop{
    transform-box: fill-box;
    transform-origin: center; 
}



@keyFrames fadeInAnimation {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateIn {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0px)
    }
}

